section.terms > h3 {
    margin: 30px 0px;
    text-transform: uppercase;
}
section.terms > p, section.terms > ul > li > p {
    font-size: 1.10rem;
    color: #111111;
    line-height: 3rem;
}
section.terms > ul {
    margin-left: 30px;
}
section.how-to-join > h3 {
    margin: 30px 0px;
    text-transform: uppercase;
}
section.how-to-join > p, section.how-to-join > ul > li > p {
    font-size: 1.25rem;
    color: #111111;
    line-height: 3rem;
    margin-left: 50px;
}
section.how-to-join > ul {
    margin-left: 30px;
}
section.how-to-join > ul, section.how-to-join > ul > li {
    list-style-type: circle !important;
}